aside.page_aside
	nav.web_nav
		ul.cf.lis-n
			li.web_nav-item(data-highlight="news")
				a(href="home.html")
					.icon_block.icon-news
						svg.svg_icon
							use(xlink:href="#icon-news")
					span.txt 首頁






