footer.page_footer
	.container
		.page_footer-top.row
			.page_footer-top-left.lizz_info.col
				.lizz_info-logo
					.img_div
						img(src=PATH_IMG + "logo-2.svg", alt="LIZZ COSMETICS 儷氏化粧品股份有限公司")
				.lizz_info-contact
					p (02)2676-3333
					p service@lizzcosme.com
					ul.social.cf.lis-n
						li.social-item
							a(href="javascript:;", title="Facebook").inner
								img(src=PATH_IMG + "icons/icon-fb.svg" alt="Facebook").icon-fb
						li.social-item
							a(href="javascript:;", title="store").inner
								img(src=PATH_IMG + "icons/icon-store.svg" alt="store").icon-store
			.page_footer-top-middle.quick_link.col
				.heading 快速連結
				nav.footer_nav
					ul.lis-n
						li.footer_nav-item
							a(href="./") 首頁
						li.footer_nav-item
							a(href="about.html") 關於儷氏
						li.footer_nav-item
							a(href="service.html") 服務項目
						li.footer_nav-item
							a(href="news.html") 產業新訊
						li.footer_nav-item
							a(href="contact.htlm") 聯絡我們
						li.footer_nav-item
							a(href="rnd.html") 研發&品質管理
			.page_footer-top-right.other_link.col
				.heading 友站連結
				nav.footer_nav
					ul.lis-n
						li.footer_nav-item
							a(href="javascript:;" target="_blank") 環保署
						li.footer_nav-item
							a(href="javascript:;" target="_blank") 衛生署
						li.footer_nav-item
							a(href="javascript:;" target="_blank") 化妝品法規
						li.footer_nav-item
							a(href="javascript:;" target="_blank") 營業量申報
		.page_footer-bottom
			.copyright
				.txt  © Copyright 2021 | 儷氏化粧品股份有限公司 | Designed by Design-Hu
