header.page_header
	.container.page_header-container
		.web_logo
			h1.text-hide.m-0 LIZZ COSMETICS 儷氏化粧品
			a(href="./").pic
				img(src=PATH_IMG + "logo.svg", alt="LIZZ COSMETICS 儷氏化粧品")
		.page_header-menu
			nav.page_nav
				ul.cf.lis-n
					li.page_nav-item(data-highlight="about")
						a(href="about.html").page_nav-item-link 關於儷氏
						nav.sub_page_nav
							ul.lis-n
								li.sub_page_nav-item
									a(href="about.html").sub_page_nav-item-link 公司簡介
								li.sub_page_nav-item
									a(href="about-adv.html").sub_page_nav-item-link 我們的優勢
								li.sub_page_nav-item
									a(href="about-laboratory.html").sub_page_nav-item-link 儷氏實驗室
								li.sub_page_nav-item
									a(href="about-env.html").sub_page_nav-item-link 生產環境
					li.page_nav-item(data-highlight="service")
						a(href="service.html").page_nav-item-link 服務項目
						nav.sub_page_nav
							ul.lis-n
								li.sub_page_nav-item
									a(href="service.html").sub_page_nav-item-link 產品代工&配方設計
								li.sub_page_nav-item
									a(href="service-oem-product.html").sub_page_nav-item-link 代工劑型
								li.sub_page_nav-item
									a(href="service-mask.html").sub_page_nav-item-link 面膜生產
								li.sub_page_nav-item
									a(href="service-experience.html").sub_page_nav-item-link 試用體驗包
								li.sub_page_nav-item
									a(href="faq.html").sub_page_nav-item-link 常見問題
					li.page_nav-item(data-highlight="rnd")
						a(href="rnd.html").page_nav-item-link 研發&品質管理
						nav.sub_page_nav
							ul.lis-n
								li.sub_page_nav-item
									a(href="rnd.html").sub_page_nav-item-link 研發品項
								li.sub_page_nav-item
									a(href="quality.html").sub_page_nav-item-link 品質管理
					li.page_nav-item(data-highlight="news")
						a(href="news.html").page_nav-item-link 產業新訊
					li.page_nav-item(data-highlight="contact")
						a(href="contact.html").page_nav-item-link 聯絡我們
			// nav.page_nav  END  !! -------------------------------------------------------------------------
			.tools
				.tools_ctrl
					.tools_close
						.icon
					.tools_search
						.icon
							img(src=PATH_IMG + "icons/icon-search.svg")
				.header_search
					input(type="text" placeholder="請輸入關鍵字").header_search-input.lizz_frm-input.style2
					button.header_search-btn.lizz_btn.lizz_btn-float(type="button")
						.icon
							img(src=PATH_IMG + "icons/icon-search.svg")
		#m_menu.m_menu(onclick="lizzUI.mmenu().init();")
			.group
				.line1
				.line2
				.line3
				.line4
	// .container  END  !!-----


// header.page_header  END  !! -------------------------------------------------------------------------
