extends _layout.pug
block vars
	- var page_class = "service_page faq";
	- var page_title = "常見問題";


block page_pluginStyle

block popup

block content
	.page_wrap(class=page_class)
		//- .m_mask
		// =========================================================================
		// .page_section.page_main-hd  START
		section.page_section.page_main-hd
			.page_main-hd-inner.text-center
				h2.title #{page_title}
				.lizz_breadcrumb
					ul.cf.lis-n
						li.lizz_breadcrumb-item
							a(href="./").inner 首頁
						li.lizz_breadcrumb-item.current
							.arrow /
							a(href="javascript:;").inner #{page_title}
		// section.page_section.page_main-hd  END  !!
		// =========================================================================
		// article.page_section.page_main-bd  START
		article.page_section.page_main-bd
			.container
				#faqList.faq_list
					ul.lis-n
						li.faq_item(v-for="item in list" data-accordion)
							.faq_item-inner
								.faq_item-hd
									h3.faq_item-question {{ item.question }}
									.toggle_icon
								.faq_item-bd
									p.faq_item-answer {{ item.answer }}
		// article.page_section.page_main-bd  END  !!



block page_script
	script(src="./public/js/page/faq.js?v=" + version)

