.page_main-nav {
    @include fixed(72, $L:0);
    z-index: 10;
    width: 100%;
    background-color: #FAF8F5;
    box-shadow: 0 5px 10px rgba(114, 112, 91, 0.1);

    display: flex;

    .logged-in.admin-bar & {
        top: 32px + 72;
    }

    @include media-down(md) {
        display: block;
    }
    &-hd {
        background-color: color("secondary");
        // padding: 0 37px;

        width: 176px;
        flex: 0 0 176px;

        display: flex;
        align-items: center;
        justify-content: center;

        @include media-down(md) {
            width: 100%;
            flex: auto;
        }
    }

    &-bd {
        padding-left: 40px;
        padding-right: 40px;

        max-height: 144px;
        overflow-y: auto;

        @include media-down(md) {
            padding-left: 1rem;
            padding-right: 1rem;
            overflow-x: auto;
            overflow-y: hidden;
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            position: relative;

            // &:after {
            //     @include psudoClass;
            //     @include absolute(50%, $L:0);
            //     transform: translateY(-50%);
            //     width: 100%;
            //     height: 1px;
            //     background-color: color("grey5");
            // }
        }
    }

    &-heading {
        margin-bottom: 0;
        color: #fff;
        word-break: keep-all;
    }

    &-item {
        @include remCalc(padding, 24, 20);
        > .inner {
            // display: block;

            // color: currentColor;
            // @include hover_line(2, color("grey2"));

            &:before {
                @include psudoClass;
                @include wh(4);
                margin-right: 0.5rem;
                background-color: color("secondary");
                transform: rotate(45deg);
                opacity: 0;
                transition: $transition-base;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }

        &.js-active {
            > .inner {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}